# Ignore everything
/*

# Add exceptions
!.gitignore
!README.md

!alacritty*
!polybar*
!bspwm*
!dunst*
!flameshot*
!neofetch*
!spicetify*
!.vim*
!packages.txt

spicetify/Extensions/*
spicetify/Backup/*
spicetify/Extracted/*
